@import 'fonts.css';
@import "animates.css";

:root{
  --dark-blue: #00012E;
  --light-blue: #0086BE;
  --text-white: #FFF;
  --yach-primary1: #0086BE;
  --yach-primary2: #00628B;
  --yach-secondary1: #4CE5B1;
  --yach-secondary2:#00012E;
  --yach-secondary3: #CEE1EA;
  --yach-secondary4: #E9EEF4;
  --yach-secondary5: #00536A;
  --yach-input-text: rgba(0, 134, 190, 0.5);
  --text-gray: #999999;
  --text-black: #5A5A5A;
  --text-dark-black: #000000;
  --bg-gradient: linear-gradient(180deg, rgba(122,255,210,1) 0%, rgba(69,203,201,1) 0%, rgba(56,190,199,1) 0%, rgba(39,173,196,1) 0%, rgba(0,134,190,1) 34%, rgba(0,134,190,1) 100%)
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Poligon;
}


.fadein{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

.text-medium{
  font-family: PoligonMedium !important;
}

.text-poligon{
  font-family: Poligon !important;
}

.text-semibold{
  font-family: PoligonSemiBold !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Styles  login by Pedro Leon*/
.containerPrincipal {
  min-height: 100vh;
  padding-top: 5%;
  padding-bottom: 30%;
  padding-left: 30%;
  padding-right: 2%;
  background: #1d252d;
}

.loginContainer {
    text-align: right;
    border-radius: 4%;
    background: #ffffff;
    margin-left: 5%;
    margin-right: 1%;
    padding-top: 5%;
    padding-bottom: 2%;
    padding-left: 8%;
    padding-right: 8%;
    width: 55%;
}

.divform {
  top: 185px;
/*left: 1022px;*/
  position: relative;
  width: 70% !important;
  margin: 0 auto;
  padding: 50px;
  padding-top: 20px;
  min-height: 510px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 50px #2A59980D;
  border-radius: 10px;
}


@media (max-width: 1015px) {
  .containerPrincipal { 
    padding-left: 20%;
    padding-right: 2%;    
  } 
  .loginContainer {    
    margin-left: 50%;
  }
}

@media (max-width: 950px) {
  .containerPrincipal { 
    padding-left: 10%;
    padding-right: 2%;    
  } 
  .loginContainer {    
    margin-left: 45%;
    width: 50%;
  }
}


@media (max-width: 720px) {
  .containerPrincipal { 
    padding-left: 5%;
    padding-right: 2%;    
  } 
  .loginContainer {    
    margin-left: 45%;
    width: 55%;
  }
}
@media (max-width: 660px) {
  .containerPrincipal { 
    padding-left: 2%;
    padding-right: 2%;    
  } 
  .loginContainer {    
    margin-left: 40%;
    width: 55%;
  }
}
@media (max-width: 560px) {
  .containerPrincipal { 
    padding-left: 1%;
    padding-right: 2%;    
  } 
  .loginContainer {    
    margin-left: 35%;
    width: 60%;
  }
}
@media (max-width: 450px) {
  .containerPrincipal { 
    padding-left: 1%;
    padding-right: 2%;    
  } 
  .loginContainer {    
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
}
@media (max-width: 400px) {
  .containerPrincipal { 
    padding-left: 1%;
    padding-right: 2%;    
  } 
  .loginContainer {    
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 90%;
  }
}

.components-form-demo-normal-login .login-form {
  max-width: 300px;
}

.form-subtitle{
  text-align: center;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-title{
  font-size: 35px !important;
  text-align: center;
  color:#1D252D;
  letter-spacing: 0px;
  font-weight: bold;
  margin-bottom: 10px;
}

.font-color-khor{
  color:#021527;
  font-size: 120%;
  font-weight:bold;
}

.logoPricipal{
  width: calc(35vh - 64px);
  margin-bottom: 10%;
}

/* styles dash*/
.components-layout-demo-fixed .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}
.site-layout .site-layout-background {
  background: #fff;
}


/** Input  email **/

.inputPrimary{
  padding:12px;
  text-align: justify;
  border: 2px solid var(--primaryColor) !important;
  border-radius: 10px !important;
}

.inputBorderColorEmail{
  padding:12px;
  text-align: justify;
  margin-top: 2%;
  border: 2px solid #357af0 !important;
  border-radius: 10px !important;
}

.inputBorderColorEmail:focus, .inputBorderColorEmail-focused, .inputPrimary {
  border-color: var(--primaryColor) !important;
  border-right-width: 1px !important;
  outline: 0;
}

.inputBorderColorEmail:hover {
  border-color: #357af0  !important;
  border-right-width: 1px !important;
}

/** Input  contraseña **/
.inputBorderColorPassword{
  padding:12px;
  margin-bottom: 2%;
  text-align: justify;
  border: 2px solid #f3d3e2 !important;
  border-radius: 10px !important;
}

.inputBorderColorPassword:focus, .inputBorderColorPassword-focused {
  border-color: #f3d3e2 !important;
  border-right-width: 1px !important;
  outline: 0 !important;
  -webkit-box-shadow:0 0 0 2px rgba(243, 211, 226, 0.64) !important;
  box-shadow:0 0 0 2px rgba(243, 211, 226, 0.64) !important;

}

.inputBorderColorPassword:hover {
  border-color: #f3d3e2 !important;
  border-right-width: 1px !important;
}

.ant-input-affix-wrapper:focus, .ant-input-affix-wrapper-focused {
  border-color: rgba(0, 0, 0, 0);
  border-right-width: 1px !important;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(243, 211, 226, 0);
}

/* stilo y hover  del check*/
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1d252d;
  border-color: #1d252d;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #1d252d;
}

.ant-checkbox-checked::after {
  border: 1px solid #1d252d;
}

/* stilo del botón*/

.ant-btn-primary {
  color: #fff;
  height: 50px;
  border-radius: 5px;
  background: #1d252d;
  border-color: #1d252d;
  text-shadow: 0 -1px 0 rgba(29, 37, 45, 0.47);
  box-shadow: 0 2px 0 rgba(29, 37, 45, 0.47);
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff;
  background: #1d252d;
  border-color: #1d252d;
}

.ant-btn-link {
  color: #1d252d;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  border-bottom-color:  #1d252d;

}
.ant-btn-link:hover, .ant-btn-link:focus {
  color: #1d252d;
  background: transparent;
  border-color: transparent;
  border-bottom-color:  #1d252d;
}

.ant-popover-inner-content .ant-popover-buttons .ant-btn-sm {
  height: auto !important;
}

.ant-tabs-tab {
  margin-left: 17px;
}

.ant-input-lg, .ant-input-affix-wrapper-lg input {
  font-size: small !important;
}


.text-blue{ color: var(--yach-primary1)!important;}
.text-dark-blue{ color: var(--yach-primary2)!important;}
.text-deep-blue{ color: var(--yach-secondary2)!important;}
.text-green{ color: var(--yach-secondary1)!important;}
.text-white{ color:white!important;}
.text-input{ color: var(--yach-input-text)!important;}

.site-calendar-customize-header-wrapper {
  width: 300px;
  border-radius: 2px;
}
  [data-theme="dark"] .site-calendar-customize-header-wrapper {
    border: 1px solid #303030;
  }


