@import "fonts/GothamRounded/style.css";

.contentFilters{
    width: 100%;
    height: 30%;
    background-color: var(--yach-primary2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px;
}
.contCiudad{
    background-color: white;
    width: 100%;
    height: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.slick_slider_container{
    justify-content: center;
    display: flex;
    overflow: hidden;
}
.slick_slider_container .slick-slider{
    width: calc(100% + 17px);
}
.slick_slider_container .slick-prev::before,
.slick_slider_container .slick-next::before{
  content:"";
}
.slick_slider_container .slick-prev,
.slick_slider_container .slick-next{
    display: flex!important;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    color: var(--text-white);
    width:42px;
    height:68px;
}
.slick_slider_container .slick-prev {
    left: 9px;
    border-radius: 0 10px 10px 0;
}

.slick_slider_container .slick-next {
    right: 8px;
    border-radius: 10px 0 0 10px;
}

.header{
    /* position: fixed; */
    z-index: 2;
    /* width: 100vw; */
    width: 100%;
    background-color: #0086BE !important;
    padding: 0;
    height: 65px;
    
    
}



.header__top{
    background: var(--light-blue);
    color: var(--text-white);
}
.header__top__nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin:0;
    background: transparent;
    border-bottom: 0;
}
.header__top__nav li{
    padding: 12px 20px;
    text-align: right;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: none;
    color: var(--text-white);
}
.header__top__nav li:hover{
    color: var(--text-white)!important;
}

.header__top__nav li::after, .header__top__nav > li::after,
.header__menu-menu li::after, .header__menu-menu > li::after{
    border-bottom: none!important;
}

.header__menu{
    background:#0086BE;
    color: #777;
    border-bottom: #fafafa;
    display: flex;
    justify-content: space-between;
    background-color: red;
}
.header__menu-menu{
    /*width: 100%;
    display: flex;
    justify-content: flex-end;
    border-bottom: none;
    background: #0086BE;
    color: #fff;*/
    z-index: 10;
}
.header__menu ul li:hover {
    color: var(--yach-secondary1)!important;
}

.header__logo{
    float: left;
}
.header__logo img{
    max-width: 100%;
    max-height: 64px;
}

.containerHeader{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;   
    
}
.container{
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    margin-top: 30px;
    /*background-color: #E9EEF4;*/
}
.content{
    /* margin-top: calc(40px + 65px); */
   /* min-height: calc(100vh - calc( calc(40px + 65px) + 60px));*/
    min-height: calc(100vh - calc(65px + 90px))
}


/** Banner **/


.content__banner{
width: 100%;
height: 534px;
/*background-image: url('../public/images/bannerHome.png');*/
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 160px 90px 0 100px;

}

.content__banner__img{
    width: 100%;
    height: 100%;
 
}

.content__banner__tituloP{
    font-size: 3em;
    color: #fff;
    font-weight: bold;
    margin-bottom: 20px;
}
.content__banner__tituloS{
    font-size: 2em;
    color: #00628B;
    text-align: left;
    line-height: 1.2em;
    font-weight: bold;
}
.content__buttons{
    display: flex;
    justify-content: center;
}

.content__banner__description{
    width: 100%;
/* height: 70vh; */
/* background-image: url('../public/images/yatedescription.jpg'); */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

/** Buscador Yate Index **/


.yate__form__index{
    display: flex;
    justify-content: center;
    flex-direction:  row;
    flex-wrap: wrap;
}


.content__form__input{
    height: 32px;
    padding: 4px 14px;
    border-radius: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--yach-primary2)!important;
}

.content__form__Select{

    height: 32px;
    padding: 4px 14px;
    border-radius: 100px;
    width: 100%;
    color: var(--yach-primary2)!important;
}


.content__form__input input{
    text-align: center!important;
}

textarea.content__form__textarea,
.content__form__textarea textarea{
    border-radius: 20px;
    padding: 14px;
    display: inline-block;
    overflow: auto;
    width: 100%;
    align-items: center;
    color: var(--yach-primary2)!important;
    resize: none;
}

textarea.content__form__textarea::placeholder,
.content__form__textarea textarea::placeholder {
    text-align: center;
}
.content__form__textarea:after{ color:var(--yach-secondary1); font-size: .75em;}
.content__form__select {
    height: 32px;
    padding: 4px 14px;
    border-radius: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--yach-primary2)!important;
}



textarea.content__form__textarea::-webkit-scrollbar,
.content__form__textarea textarea::-webkit-scrollbar {
    width: 20px;
}
textarea.content__form__textarea::-webkit-scrollbar-thumb,
.content__form__textarea textarea::-webkit-scrollbar-thumb {
    background: var(--yach-secondary1);
    border-radius: 20px;
    border: 7px solid transparent;
    background-clip: padding-box;
}

.content__form__input input::placeholder{
    color: var(--yach-primary2)!important;
}

.footer{
    width: 100%;
    padding: 20px 56px;
    background: var(--yach-primary2);
    color: #fff;
    min-height: 90px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    gap: 25px;
}

.footer__items {
    padding: 10px 20px;
}
.footer__items:active, .footer__items:hover{
    color:var(--yach-secondary1);
}

/** Lista de yates **/
.yacht__card{
    margin-bottom: 3em;
    background:var(--yach-secondary3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 30px;
}
.yacht__card_image{
    width: 100%;
    height: 178px;
    display: block;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
    border-radius: 20px;
}
.yacht__card_title{
    font-weight:normal;
    font-size: 24px!important;
    line-height: 29px!important;
    color: var(--yach-primary2)!important;
}

.yacht__card_price {
    font-size: 20px!important;
    line-height: 24px!important;
    margin-right: 10px;
}
.yacht__card__body{
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.yacht__card__actions{
    display: flex;
    align-items: center;
    gap: 10px;
}


/** Info yate **/

.info__yate{
    background: #fff;
    min-height: 70px;
    padding: 30px 20px;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info__yate__texto{
    margin-bottom: 0;
}

.info__yate__textoB{
    margin-bottom: 0;
    font-weight: bold;
}


/** Carrousel **/


.carrousel__fondo{
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100% !important;
    margin-left: 0 !important;
    flex-direction: column;
    position: relative;
}

.carrousel__img{

    width: 95%;
    height: 260px;
    border-radius: 20px;
    object-fit: fill;
}

.carrousel__texto{
    padding: 10px;
    background: #0086BE;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #fff;
    width: 95%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.carousel_recommended .carrousel__img{

    width: 350px!important;
    height: 234px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.carousel_recommended .carrousel__texto{
    padding: 0 10px;
    background: transparent;
    border-radius: 0;
    width: 95%;
    text-align: left;
    position: relative;
    color: inherit;
    border-left: 2px solid var(--yach-secondary1);
    margin-top: 16px;
}

/** Summary form**/
.yacht__filter_form_summary{
    background: rgba(0, 0, 0, 0);
    border-color: rgba(17, 5, 5, 0.479);
    border-style: solid;
    border-width: 1px;
    padding: 28px;
    /* box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 20px;
    /* position: absolute; */
    /* sticky; */
    top: 1%;
    overflow-y: auto;
    max-height: 100%
    /* 93vh; */
}

/** Formularios de búsqueda**/
.yacht__filter_form{
    background: var(--yach-primary2);
    padding: 28px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    /* position: absolute; */
    /* sticky; */
    top: 1%;
    overflow-y: auto;
    max-height: 100%
    /* 93vh; */
}
.yacht__filter_form::-webkit-scrollbar-track {
    border: 0.1px solid #000;
    padding: 1px 0;
    background-color: #404040;
  }
  
  .yacht__filter_form::-webkit-scrollbar {
    width: 5px;
  }
  
  .yacht__filter_form::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 0.1px solid #000;
  }

.content__form__input{
    height: 32px;
    padding: 4px 14px;
    border-radius: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: var(--yach-primary2)!important;
}

.content__form__input input{
    text-align: center!important;
    font-size: 12px;
}

.content__form__input input::placeholder{
    color: var(--yach-primary2)!important;
    font-size: 12px;
}
.yacht__filter_form label{
    color: white;
    width:100%;
}

.content_moment{
    height: 80%;
    width: 88%;
    background-color: var(--yach-secondary3)!important;
    border-radius: 20px,
}

.img_moment{
    height: 100%;
    /*background-image: url('../public/images/moments.png');*/
    background-repeat: no-repeat;
    display: flex;
    border-radius: 20px,
}
.moment_legend{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center
}
.title_moment{
    padding-left: 15px;
    width: 75%;
    border-left: 5px var(--yach-secondary1) solid;
    margin-bottom: 30px;
    color: var(--yach-primary1);
    margin-left: 100px;
    font-weight: none
}

.paragrahp_moment{
    color: var(--dark-blue) !important;
    width: 70%;
    text-align: justify;
    font-size: 14px;
    font-weight: none;
    margin-left: 100px
}

.appbanner_row{
    height: 534px;
    /*background-image: url('../public/images/appbannerimage.png');*/
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.appbanner_title{
    color: #FFF;
    margin-top: 100px;
    margin-left: 80px;
}
.appbanner_paragraph{
    font-size: 18px;
    color: var(--yach-secondary1);
    margin-left: 80px;
    font-weight: bold;
}
.cont_moreInfo{
    height: 100%;
    background-color: var(--yach-secondary3);
    display: flex;
    border-radius: 20px;
}
.aboutUs{
    height: 80%;
    width: 88%;
}
.cont_aboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.title_aboutUs{
    color: #FFF;
    width: 75%;
    text-align: center;
    color: var(--yach-primary1);
    font-size: 40px;
}
.paragraph_aboutUs{
    color: var(--yach-primary2);
    width: 75%;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
    font-weight: none;
}

.cont_image_oboutUs{
    height: 100%;
    /*background-image: url('../public/images/bannerwishimage.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.rowAboutUs{
    height: 534px;
}
@media screen and (max-width: 1024px) {

    .carousel_recommended .carrousel__img{
        width: 270px!important;
        height: 180px;
    }
}

@media screen and (max-width: 820px){

    .carousel_recommended .carrousel__img{
        width: 210px!important;
        height: 140px;
    }
    .footer__list { gap:10px }
    .footer__items{
        text-align: center;
        padding: 8px 20px;
        width: 100%;
        font-size: 16px;
    }
}
@media screen and (max-width: 767px){

    .yacht__card_footer_price{
        text-align: center;
    }

    .yate__form__index{
        flex-direction:  column;
    }

    .yacht__card_title{
        margin-top: 10px;
    }

    .recommended{
        margin-top: 15px;
    
    }

    .content__banner{
        width: 100%;
        height: 250px;
        background-size: cover;
    }

    .content__banner__tituloP{
        position: relative;
        bottom: 100px;
        right: 80px;
        font-size: 15px;
    }
    .content__banner__tituloS{
        position: relative;
        bottom: 120px;
        right: 80px;
        font-size: 12px;
    }

    .content__form__input{
        width: 200px;
        font-size: 5px !important;
    }

    .ant-picker-calendar-container {
        width: 50%;
        max-width: 400px; /* ajustar el tamaño máximo según sea necesario */
    }
    .content_moment{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .title_moment{
        font-weight: bold;
        width: 100%;
        position: relative;
        bottom: 20px;
        right: 240px;
    }
    .paragrahp_moment{
        position: relative;
        width: 100%;
        bottom: 20px;
        right: 240px;   
    }
    .appbanner_row{
        width: 100%;
        height: 250px;
        background-size: contain;
    }
    .appbanner_title{
        font-size: 12px !important;
        margin: 10px 15px;
    }
    .img_stores_cont{
        display: flex;
        flex-direction: row;
    }
    .aboutUs{
        display: flex;
        flex-direction: column !important;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .cont_moreInfo{
    }
    .cont_image_oboutUs{
        width: 500px;
        height: 250px;
        background-size: contain;
        border-radius: 0px !important;
    }
    .title_aboutUs{
        font-size: 15px !important;
        width: 100%;
    }
    .paragraph_aboutUs{
        font-size:  12px !important;
        width: 100%;
        color: #000 !important;
    }
    .rowAboutUs{
        height: 230px;
        margin-bottom: 20px;
    }
    .carrousel__fondo{
        margin-right: 10px;
    }
    .contentFilters{
        margin-bottom: 30px;
        height: 500px;
        width: 70%;
        margin-left: 50px;
    }
    .lblAvailable{
        font-size: 10px;
    }
    .containerHeader{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .header__logo img{
        width: 80px;
        height: 50px;
        object-fit: contain;
    }
   
}



 
